{% extends "ETMApp/base.html" %}
{% block content %}
{% load static %}
{% if not user.is_authenticated %}
<p>You are not connected. <a href="/login">Login</a> to see all your party</p>
{% endif %}

<table id="history_table" class="table mt-5 table-striped table-hover table-sm">
  <thead>
    <tr>
      <th># Players</th>
      <th>Players</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody class="text-danger" id="games_body">
  </tbody>
</table>

{{ games|json_script:"games" }}
<script type="application/javascript" src="{% static 'ETMApp/js/history.js' %}"></script>
{% endblock %}

{% block title %}
History of your games
{% endblock %}
