{% extends "ETMApp/base.html" %}
{% block content %}
{% load static %}
{% if not user.is_authenticated %}
<p>You are not connected. <a href="/login">Login</a> to see all your party</p>
{% endif %}
<a href="/"><span class="material-icons">arrow_back</span></a>


<div class="row" id="history_table">
{% for game in games %}
    <div class="mb-3 card overlay-container game-card">
        <div class="overlay">
            <p class="overlay-text">Click to get the full game</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{game.date|timesince}} ago</h5>
            <a class="stretched-link" href="history/{{game.urlGame}}"></a>
            <p class="card-text crop-text-2">{{game.players|join:", "}}</p>
            <p class="card-text">
                <small class="text-muted">{{game.players|length}} players</small>
            </p>
        </div>
    </div>
{% endfor %}



</div>

{% endblock %}

{% block title %}
History of your games
{% endblock %}
