{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ETM</title>

    {% block link %}
    {% endblock %}
    <style>
        .description {
            font-size: 50px;
            text-align: center;
        }
        .spacer {
            display: block;
            margin-bottom: 200px;
            border-bottom: black 1px solid;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
        {% for conversation in conversations %}
            {% for message in conversation.messages %}
                {% if message.url_drawing == null %}
                    <p>{{message.user}} typed</p>
                    <h1 class="description">{{message.description}}</h1>
                {% else %}
                <div class="card-img-container">
                    <p >{{message.user}} draw</p>
                    <div class="center">
                        <img height="500" src="/media/{{message.url_drawing}}" alt="image">
                    </div>
                {% endif %}
            {% endfor %}
            <tr></tr>
            <div class="spacer">&nbsp;</div>
        {% endfor %}

        <div>
            <!-- tried other way to get the host, but none of them works -->
            <!-- WIP -->
            See the all game at: <a href="https://momo.srvz-webapp.he-arc.ch/history/{{game_url}}/">https://momo.srvz-webapp.he-arc.ch/history/{{game_url}}/</a>
        </div>

        Work in progress


    </div>

</body>
</html>