
{% load static %}

<div id="drawContainer" class="container">
    <div class="row">
        <input type="text" value="Nico is the hash master" id="drawDescription" disabled>
    </div>
    <div class="row mt-1">
        <div class="btn-group btn-group-sm col-sm" role="group" aria-label="Basics">

            <input type="radio" class="btn-check" id="penButton" name="tool" checked>
            <label class="btn btn-outline-primary" for="penButton"><span class="material-icons md-36">border_color</span></label>

            <input type="radio" class="btn-check" id="eraserButton" name="tool">
            <label class="btn btn-outline-primary" for="eraserButton"><span class="material-icons md-36">rice_bowl</span></label>

            <input type="radio" class="btn-check" id="bucketButton" name="tool">
            <label class="btn btn-outline-primary" for="bucketButton"><span class="material-icons md-36">format_color_fill</span></label>
        </div>
    </div>
    <div class="row mt-1">
        <div class="btn-group btn-group-sm col-sm" role="group" aria-label="Basics">
            <input type="radio" class="btn-check" id="lineButton" name="tool">
            <label class="btn btn-outline-primary" for="lineButton"><span class="material-icons md-36">horizontal_rule</span></label>

            <input type="radio" class="btn-check" id="rectButton" name="tool">
            <label class="btn btn-outline-primary" for="rectButton"><span class="material-icons md-36">crop_5_4</span></label>
        </div>
    </div>
    <div class="row mt-1">
        <div class="btn-group btn-group-sm col-sm" role="group" aria-label="Basics">
            <button id="undoButton" type="button" class="btn btn-success"><span class="material-icons md-36">chevron_left</span>
            </button>
            <button id="redoButton" type="button" class="btn btn-primary"><span class="material-icons md-36">chevron_right</span>
            </button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="btn-group btn-group-sm col-sm" role="group" aria-label="Basics">
            <label for="imageUpload" class="btn btn-primary"><span class="material-icons md-36">insert_photo</span></label>
            <input type="file" class="form-control-file" id="imageUpload" value="upload" style="">
            <input id="colorPicker" type="color" class="btn btn-success">
            </input>
            <select id="thicknessSelector"class="btn btn-primary">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select> 
        </div>
    </div>

    <div class="text-center">
        <div id="canvasContainer">
            <canvas width="1000" height="1000" id="cnvb"></canvas>
            <canvas width="1000" height="1000" id="cnv"></canvas>
            <canvas width="1000" height="1000" id="cnvf"></canvas>
        </div>
    </div>

</div>
