
<div id="watchContainer" hidden>
    {% include 'ETMApp/history/display_conversation.html' %}
    {% load static %}
    <div class="text-center">

        <button class="btn btn-primary mt-3" onclick="nextMessage()" id="btnNextMessage" hidden>Next message</button>
        <br>

        <a href="/history/{{ game_url }}" target="_blank" class="btn btn-outline-primary mt-3">See complete game</a>
        <a href="/view/{{game_url}}.pdf" target="_blank" class="btn btn-outline-primary">Download as PDF</a>
    </div>
</div>
