/*css reset*/
/*别删，有的得看情况调一下宽度*/
.archcon .arc-listit{width:120px;}
.columimg{width:460px;}
.chooseAll{margin:0;}
.toolBox1{padding-top:20px;}
.toolBox2{padding-top:20px;}
.footer{position: relative;z-index: 2000;}
.inner{width:1170px;margin:0 auto;}
/*所有颜色*/
 /**页面字体需要变主色调，直接调用mainColor;**/
.mainColor, .reference-tab .td2 a{color:#1c3c7a;}
.article-list-journalg a{text-decoration: none;}
.archcon.archcon-new dl dd.active a{}
.header-nav,.tab-ul-index li.active,.article-list-journalg,.footer .top,.phone-nav,.main .article-content ul#htmlContent2 h3.full-text,
#page-tag-div .pagination>.active>a,.comtit,.archcon.archcon-new dl dd.archconVol,.archcon.archcon-new dl dd.active,
.archcon .arc-listit dd.active,.archcon .arc-listit .arctpoint,.tab-ul-index li.active,.footer .btmb,
.header-nav,.header-nav ul > li ol,.qikan .subBtn,.header-nav,.pageTagsUl li.current,.pageTagsUl li.clickpage:hover{background-color: #24acf8;}
.header-nav,.tab-ul-index li.active,.article-list-journalg,.footer .top,.phone-nav,.main .article-content ul#htmlContent2 h3.full-text,
#page-tag-div .pagination>.active>a,.comtit,.archcon.archcon-new dl dd.archconVol,.archcon.archcon-new dl dd.active,
.archcon .arc-listit dd.active,.archcon .arc-listit .arctpoint,.tab-ul-index li.active,.footer .btmb,
.header-nav,.header-nav ul > li ol,.qikan .subBtn,.header-nav,.pageTagsUl li.current,.pageTagsUl li.clickpage:hover,
.messageBoard .tj,.btn-primary,.guokan-tit .guokan-tab li.curr,.guokan-dl dd.active,
.guokan-dl dd.years,.guokan-dlyear dt{background-color: #1c3c7a;}
/*滑上去的颜色*/
.header-nav ul > li.active > a,.header-nav ul > li ol li:hover,.header-nav ul > li:hover > a{background:#365ba1;text-decoration: none;}
/*向上箭头*/
.bottom-fixed{width: 50px; height: 50px;cursor: pointer;position: fixed; bottom: 20px; right: 20px; z-index: 5000;background: #1c3c7a url("../../../images/custom/back_top.png") no-repeat center center; display: none;}
.phone-nav{border-color:#24acf8;}
.derived i.current,.base-title .more:hover,.news-list li a:hover,.article-list-title a:hover, .article-list-author a:hover,.article-list-time a:hover,.article-list-zy font a:hover{color:#1c3c7a;}
#page-tag-div .pagination>.active>a{border-color:#24acf8;}
/*.footer .btmb{padding-top:8px;padding-bottom:8px;}*/
/*手机下拉颜色有透明度，自己看着写*/
.phone-nav .search-app-wrap,.smallUl{background: #1c3c7a;}
/*以上是需要改颜色的*/
.footer .top span{margin-right:10px;}
.smallUl{ z-index: 1000; width: 100%; left: 0; right: 0; margin: auto; position: absolute; display: none;}
.smallUl a{color: #fff; display: block; line-height: 24px;}
.smallUl>li{text-align: left; border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
.smallUl li > a{padding: 0 4%; font-size: 16px; line-height: 40px; position: relative; display: block;}
.smallUl > li > a span{margin: 0 0 0 10px;}
.smallUl > li > a span img{vertical-align: middle; margin: -3px 0 0; transition: all 0.2s;}
.smallUl > li > a span.active img{transform: rotate(90deg);}
.smallUl > li > ol{display: none;}
.smallUl > li > ol a{padding: 0 8%;}

.navList{width: 30px; cursor: pointer;}
.navList span{height: 3px; background-color: #fff; margin: 0 0 8px 0; display: block; transition: all 0.5s;}
.navList span:last-child{margin: 0;}
.navList{display: block;padding-top:4px;}
.navList span:last-child{margin: 0;}

.phone-nav input::-webkit-input-placeholder{color: #fff; opacity: 1;}
.phone-nav .text{background: #fff;}
.phone-nav .text{line-height: 19px; padding: 3px 10px; color: #fff; margin: 0 0 0 15px; border-radius: 4px 0 0 4px;}
.phone-nav .sub{width: 35px; height: 25px; background: #fff url(../../../images/custom/search1.png) no-repeat center center; background-size: 16px 16px; border-radius: 0 4px 4px 0;}
.phone-nav .en{line-height: 25px; color: #fff;}

.phone-nav .search-app-wrap{display: none;position: absolute;left: 0;width: 100%;top: 50px;z-index: 2000;padding: 8px 0;}
.phone-nav .search-app-wrap select{width: 23%;border: none;height: 30px;border-radius: 4px;padding: 0 0 0 5px;background: rgba(255, 255, 255, 0.2);color: #fff;}
.phone-nav .search-app-wrap select option{background: rgba(19, 115, 122, 0.9);}
.phone-nav .search-app-wrap .text{width: 75%;margin: 0 0 0 2%;border-radius: 4px;height: 30px;}
.phone-nav .search-app-wrap .sub{width: 30px;height: 30px;background: rgba(255, 255, 255, 0.2) url("../../../images/custom/search1.png") no-repeat center center;background-size: 22px;position: absolute;right: 15px;top: 8px;}
.header .logo{width: 50%;}
.header .logo img{max-width: none;}
.header .bot{background-size: cover;}
.phone-nav{padding: 8px 0;position: relative;}
.phone-nav .en{line-height: 25px;color: #fff;}
.phone-nav .text, .phone-nav .sub{background: rgba(255, 255, 255, .2);}
.phone-nav .text{line-height: 19px;padding: 3px 10px;color: #fff;margin: 0 0 0 15px;border-radius: 4px 0 0 4px;}
.phone-nav .sub{width: 35px;height: 25px;background: rgba(255, 255, 255, .2) url(../../../images/custom/search1.png) no-repeat center center;background-size: 16px 16px;border-radius: 0 4px 4px 0;}
.search-wrapper{display: none;}
/*手机菜单2*/
.phone-nav .container .logo{display: block;padding: 2px 0 0 20px;position: relative;}
.phone-nav .container .logo img{max-width: 170px;max-height:34px;}
.phone-nav .container .logo:before{content: '';width: 1px;height: 80%;background: #fff;position: absolute;left: 6px;top: 2px;bottom: 0;margin: auto;}
.phone-nav .container .search-app{display: block;background: url("../../../images/custom/search2.png") no-repeat center center;width: 34px;height: 34px;background-size: 30px;color: #fff;}
.phone-nav .container .search-app.active{background: url("../../../images/custom/close-app.png") no-repeat center center;background-size: 32px;}
.main-right .current-ul li .tit{width: 100%;float: none;}
.main-right .current-ul li .right{float: none;}
.main-right .current-ul a{display: inline-block;}
.main-right .banner .item .text p{width: 70%;}
.main-right .current-ul li .box{padding: 8px 0;}
.search-wrap .in-bl{width: 100%;}
.search-wrap .form-group{margin-left: 0;margin-right: 0;}




@media screen and (max-width: 375px) {
	.phone-nav .search-app-wrap .text{width:74%;}
	.phone-nav .search-app-wrap select{width:24%;}
}
/**********************************/




/*.tab-ul-index li {width:97px;}*/
.archcon.archcon-new dl dd{min-width:50px;}

#mescroll .main{background:transparent;}

html body { font-family: Lora-Regular,Lora,Palatino,Times,Times New Roman,serif; font-size: 14px; }
a{color: #333;}
.commcon{background: #fff;padding: 18px 0;margin-bottom: 20px;}
.pad20{padding:0 20px;}
.pad15{padding-left:15px;padding-right: 15px;}
.comwrap{min-height:95px;overflow: hidden;}
.comtit{width: 100%;position:relative;background: none;padding: 0 0 15px 0;color: #333;}

/*.comtit:before {display: block; content: '';width: 100%;height: 3px;background: #d3d3d3; position: absolute;top: 18px;z-index: 0;}*/
.comtit>div{display: inline-block;padding-right: 15px;background: #fff;position: relative;}
.comtit>div span{display:inline-block;width: 24px;height:24px;background: url(../../../images/custom/icotit.png) no-repeat;position: relative;top: 4px;margin-right: 3px;}
.comtit .morebtn{position: relative;background: #fff;color: #666; font-size: 13px;padding-left:14px;font-weight: normal;}
.comtit .morebtn:hover{color: #0254a2;}
.latestArc.comtit{text-align: center;margin: 0;}
.latestArc.comtit div{padding: 0 15px;}
.comlist{margin-bottom: 20px;overflow: hidden;}
.comlist li {position: relative;padding: 20px;border-bottom: dashed 1px #eeeeee;font-size: 15px;}
.comlist li:last-of-type{border-bottom: 0px solid #fff;}
.comlist li:last-child{margin-bottom: 0;border-bottom: none;padding-bottom: 0;}
.comlist li .tit{font-size: 15.5px;line-height: 23px;}
.xgwz .comlist li{float: left;min-width: 50%;}
.comlist li>a{color: #333;display: block;line-height: 20px;}

/*css reset end*/
.main{padding-top: 20px;padding-bottom: 29px;}
.container{padding: 0 20px;}
.headerbg{background: url(../../../images/custom/bg.png) no-repeat center center;}
.header .logo{padding:44px 0 39px 0;}
.colorRed{color:#d95200;}
/*顶部搜索*/
.blank { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .5; z-index: 900; display: none;filter: alpha(opacity=50); }
.header .header-search {height: 160px; position: absolute; top: -160px; left: 0; width: 100%; padding: 50px 0; background: #fff; text-align: center; z-index: 1000; }
.header .header-search form{display:inline-block;}
.header .header-search.active { top: 158px; }
.header .header-search .search-left { border-bottom: 5px solid #dadada; min-height: 57px;}
.header .header-search .search-left .text { font-size: 30px; line-height: 44px; width: 515px; padding: 4px 10px 4px 0; color: #bfbfbf;}
.header .header-search .search-left .advanced { font-size: 18px; color: #0068a3; line-height: 28px; border-left: 1px solid #0068a3; padding: 0 0 0 20px; margin: 12px 0 0; }
.header .header-search .search-left .advanced:hover { text-decoration: underline; }
.header .header-search .sub { width: 64px; height: 57px; background: #a3000f url("../../../images/custom/sub.png") no-repeat center center; margin: 0 0 0 15px; }
.header .logo img{position:relative;left:-1px;}
.logor{padding:46px 0 0 0;}
.logor ul{text-align:right;}
.logor .search li{display: inline-block;margin-left:6px;text-align:center;}
.logor .search li a{display:inline-block;width:70px;height:70px;padding-top:12px;background:rgba(64,112,201,.6);}
.logor .search li a:hover{background:#f86400;}
.logor .search li .icon{height:26px;}
.logor .search li a img{display:inline-block;}
.logor .search li span{display:block;font-size:14px;margin-bottom:10px;margin-top:3px;color:#fff;}

/*导航*/
a:focus, a:hover{color:#333;}
.nav-inner li img{width:8px;}
.header .logor li span{text-align:center;}
.top-nav-border{background:#ececec;padding: 1px 0;border:1px solid #d8d8d8;margin-bottom:20px;}
.top-nav-border .nav{border-top:1px solid #fff;border-bottom:1px solid #fff;}
.top .nav{    background-size: cover;background: #1c3c7a; height: 48px;text-align: center;}
.top .nav li a{display: block;text-align: center;padding: 0 30px;font-size: 16px;}
.top .nav li:nth-of-type(1) a img{position: relative;bottom: 1px;margin-right: 3px;}
.nav-second{display: none;position: absolute;z-index: 100;background: #005bc4;}
.header-nav ul > li{float: left; position: relative;text-align: center;}
.header-nav ul > li > a{display: block; line-height: 48px;font-size: 15px;padding:0 23px;}
.header-nav-en ul > li > a{padding:0 20px;}
.header-nav ul > li > a span{display: inline-block; width: 7px; height: 4px; background-size: 7px 4px; margin-left: 6px; position: relative; top: -3px;}
.header-nav ul > li ol{background:#1c3c7a; position: absolute;  left: 0; top: 48px; min-width: 100%; z-index: 101; display: none;;}
.top a{color:#fff;}
.top .header-nav ul > li ol li a{color: #fff;  padding: 0 37px; white-space: nowrap; line-height: 37px;text-align:left;}
.top .header-nav ul > li ol li a:hover{color: #fff;text-decoration: none;}
.phone-nav .sub{background: #fff url("../../../images/custom/search1.png") no-repeat center center;}
.header-nav ul > li > a span{background: url("../../../images/custom/nav-arrow1.png") no-repeat center center;}
.row{margin-right:0;margin-left:0;}

body .main-left,body .main-right,body .main-mid{padding:0;}


/* 轮播图 */
.banner{margin-bottom:20px;}
.banner .bancon .carousel-control {width: 40px;height: 40px;top: 32.5%;left:15px;}
.banner .bancon .carousel-control.rightbanner {left: auto;right: 15px;}
.carousel-control{opacity:1;}
#myCarousel .carousel-inner{border:1px solid #dcdcdc;}
.carousel-inner .item {border: 0;height:320px;overflow:hidden;}
.carousel-inner .item .pic{position:relative;text-align:center;    height: 100%;}
.carousel-inner .item .pic img{max-width:80%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.carousel-inner .item .pic .mc{padding:18px 20px;background:rgba(0,0,0,0.3);position:absolute;bottom:0;left:0;width:100%;text-align:left;}
.carousel-inner .item .pic .mc .thumbtitle{font-size:16px;color:#fff;display:inline-block;}
.carousel-inner .item .pic .mc .author a{font-size:13px;color:#fff;}
.banner .carousel-indicators li{width:17px;height:17px;border-radius:0;border:0;background:#fff;margin:0;margin-right:10px;}
.banner .carousel-indicators{width:auto;text-align:right;margin-left: 0;right:0;    padding-right: 10px;}
.banner .carousel-indicators .active{background-color:#243968;}
/*论文*/
.article-list-journalg{background:#f86400;}
.tab-box #myTab {background:#e5e5e5;}
.tab-ul-index li{background:none;}
.tab-ul-index li a{height:45px;line-height:45px;padding:0 20px;font-size:17px;}
.tab-ul-index li.active a{font-weight:normal;}
.article-list a{line-height:1.2;}
.article-list-title a{font-size:19px;}
.article-list-title{margin-bottom:13px;}
.article-list{border-bottom:1px dashed #d9d9d9;}
.article-list-author a,.article-list-author, .article-list-time,.article-list-zy,.article-list-zy a,.article-list-time.latest_info{font-size:14px;color:#666;}
.article-list-zy,.article-list-author{margin-top:3px;}
#onlineFirst .article-list{padding-left:0;}
#onlineFirst .article-list .article-list-left{display:none;}

/* 右侧开始 */
.main-right .comwrap{margin-bottom:20px;}
.book { margin: 0 0 14px; }
.book .book-left { width: 146px; }
.book .book-left img { width: 100%; }
.book .book-right { font-size: 14px; line-height: 1.6; color: #333; width: 160px; padding: 0 0 0 12px; }
.book .book-right .tit {font-family:Lora-Bold,Lora-Regular,Lora,Palatino,Times,Times New Roman,serif;font-size: 18px; color: #000; display: block;line-height: 2.5;margin:-6px 0 0;}
.book .book-right .line { height: 1px; background: #e1e1e1; margin:15px 0 16px 0; }
.book .book-add{margin-top:18px;}
.book .book-add span{color:#666;}
.comwrap h3{font-size:17px;color:#fff;}
.comwrap h3 span{display:inline-block;width:5px;height:18px;background:#1c3c7a;margin-right:8px;position:relative;top:3px;display:none;}
.comwrap h3 .more{font-size:13px;color:#fff;}
.comtit{padding: 0 10px;background:#1c3c7a;height:35px;line-height:35px;}
.comwrap ul li{padding-left:16px;position:relative;}
.comwrap ul li a{font-size:14px;color:#333;line-height:1.5;}
.comwrap ul li span{position:absolute;left:0;top:5px;display:inline-block;}
.article.comwrap ,.news.comwrap {margin-bottom:5px;}
.article.comwrap ul li span,.news.comwrap ul li span{width:7px;height:7px;background:#cecece;top:17px;}
.article li,.news li{border-bottom:1px dashed #d6d6d6;padding-bottom:13px;padding-top:10px;}
.article li a,.news li a{line-height:1;margin-bottom:5px;}
.article li:last-of-type,.news li:last-of-type{border:0;}
.comwrap.forAuthor .comtit{margin-bottom:10px;}
.comwrap.forAuthor ul li{margin-top:5px;}
.forAuthor span{width:8px;height:10px; background: url("../../../images/custom/sanjiao.png") no-repeat center center;}
.comwrap.yqlj .comtit{margin-bottom:20px;}
.yqlj.comwrap ul li{padding:0;text-align:center;margin-top:10px;}
.yqlj.comwrap ul li img{max-width:100%;border:1px solid #e0e0e0;}
.nimg {text-align:center;}
.nimg img{max-width:100%;margin:10px 10px 20px 10px;}
.news.comwrap li a{position:relative;}
.news.comwrap ul li span{top: 4px;left: -15px;}
/*滚动*/
.links.comwrap{width:100%;}
.links.comwrap ul li{padding:0;position:relative;}
.plantCon{padding:20px;overflow:hidden;border:1px solid #eaeaea;}
.planting1 ul li,.planting2 ul li{float:left;}
.planting1,.planting2{display: inline;}
.planting1 li,.planting2 li{display: inline;margin-right: 10px;}
.planting-box{height:66px;overflow:hidden;position:relative;}
.planting-box img{max-height: 65px;border:1px solid #eaeaea;}
/* 底部 */
.footer{color:#fff;}
.footer a{color:#fff;}
.footer .bottom{background:#1c3c7a;text-align:center;padding: 20px 0 25px 0;font-size:14px;}
.footer .bottom p:last-of-type{margin-bottom:0;}
.footer .btmb{background:#1c3c7a;text-align:center;padding: 20px 0 25px 0;font-size:14px;}
.footer .btmb p:last-of-type{margin-bottom:0;}
/*文章页面*/
#RelatedPages .reference-tab .td2 a{color:#2b9cf0;}
.reference-tab .td2 a.mainColor{color:#1c3c7a!important;}
.reference-tab .td2 {word-break:keep-all;}

@media (min-width: 1200px){
 .container{width: 1200px;padding: 0;}
 body .main-left{width:71%;float:left;}
body .main-right{width:25.6%;float:right;margin-top:0;}
}
@media (max-width: 1200px) and (min-width:992px){
.book .book-right{padding:0;}
body .main-right{padding-left:25px;}
}

@media (max-width: 992px) and (min-width:768px){
/* 布局  */
body .main-left,body .main-right{width:100%;padding:0;}
body .main-right{margin-top:20px;}
}
@media (max-width: 768px){
/* 布局  */
#mescroll .main > .container{padding:0;}
body .main-left,body .main-right{width:100%;padding:0;}
.indexBox.main .item-div,body .main-right{padding:0 15px 20px 15px;}
.header,.header .logor{display:block;}
.logor{padding:16px 0 16px 0;}
.phone-nav .container .search-app,.phone-nav .container .logo:before{display:none;}
.header .logo,.header .header-search .sub{display:none;}
.phone-nav .container .logo{padding:0;}
.phone-nav .container .logo img{height:100%;}

.navList{float:right;border: 2px solid #fff; border-radius: 50%;overflow: hidden;padding: 5px 8px;width:auto;}
.navList span{margin-bottom:5px;width: 15px;}
/*新闻*/
.box-search1 ul li input{max-width:100%;}
/*mobile轮播图*/
.carousel-inner .item{height:220px;}
.carousel-inner .item .pic .mc .thumbtitle{font-size:14px;}
.carousel-inner .item .pic .mc{padding:10px 10px;}
.banner .carousel-indicators li{width:12px;height:12px;}
.carousel-inner .item .pic{height:100%;}
.indexBox.main > .container{padding:0;}
.curtu-show,.article-list-zy{display:none;}
.article-list{padding-left:0;}
.article-list-time font:last-of-type{display:block;}
.tab-ul-index li{margin-right:0;width:148px;}
.footer .bottom p:last-of-type,.footer .btmb{display:none;}
}
tr.citedby-p{margin-top: 10px;display: inline-block;}





