{% extends "ETMApp/base.html" %}
{% block content %}
    {% load static %}

    <div class="row">
    <div class="col-md-6">
        <img src="https://images-ext-2.discordapp.net/external/P_MqJutoqP24tk6-dDnpHdvRVoADPVo1VvkNB6LSckg/https/i1.sndcdn.com/artworks-000595351218-yo12y0-t500x500.jpg" width="100%" alt="singe">
    </div>
        <div class="col-md-6 align-self-center mt-5">
            <h1>404</h1>
            <h2>UH OH! You're lost.</h2>
            <p>The page you are looking for does not exist.
                How you got here is a mystery. But you can click the button below
                to go back to the homepage.
            </p>
            <a class="btn btn-outline-light" href="/">HOME</a>
        </div>
    </div>
    <style>
        /*
            🙃
        */
        body {
            background-color: #272B36;
        }
        #main_container {
            color: white;
        }
    </style>
{% endblock %}
