{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ETM</title>

    <link rel="shortcut icon" href="{% static 'ETMApp/images/favicon.ico' %}" type="image/x-icon">

    <!--Bootstrap CSS-->
    <link href="{% static 'ETMApp/css/bootstrap.css' %}" rel="stylesheet">

    <!--Material icons CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet"  href="{% static 'ETMApp/css/base.css' %}">
    {% block link %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg static-top bg-info">
        <div id="navbar_container" class="container">
            <!-- Static navbar -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img id="logo" src="{% static 'ETMApp/images/logo.png'%}" alt="">
                    ETM
                </a>
            </div>
            <div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <span class="material-icons form-inline 5 my-lg-0 md-36">face</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        {% if user.is_authenticated %}
                            <a href="/disconnect" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">
                                {{ user.username }}
                            </a>
                        {% else %}
                            <a href="/login" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">
                                Not connected
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="main_container" class="container h-100">
        <h2 class="text-center mt-3" id="pageTitle">
        {% block title %}
        {% endblock %}
        </h2>

        {% block content %}
        {% endblock %}

    </div>

    <!--Jquery for bootstrap-->
    <script src="{% static 'ETMApp/js/jquery-3.6.0.min.js' %}"></script>

    <!--Bootstrap JS-->
    <script src="{% static 'ETMApp/js/bootstrap.min.js' %}"></script>
</body>
</html>