{% extends "ETMApp/base_game.html" %}
{% block content_find %}
    {% load static %}

    <div class="container">
        <div class="row">
            <input type="text" placeholder="???"></input>
        </div>

        <div class="text-center">
            <div id="canvasContainer">
                <canvas id="toFind" width="1000" height="1000" id="cnvb"></canvas>
            </div>
        </div>

    </div>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'ETMApp/css/game.css' %}">
{% endblock %}
