{% extends "ETMApp/base.html" %}
{% block content %}
    {% load static %}

    <div id="lobbyContainer">
        <div class="form-inline">
            {% if not user.is_authenticated %}
                <div class="row">
                    <label for="pseudo" class="col-md-4 col-form-label">Change your pseudo</label>
                    <div class="col-md-5">
                        <input id="pseudo" type="text" class="form-control" name="pseudo" placeholder="js good">
                    </div>
                    <button id="btnPseudo" class="btn btn-primary col-md-3">Change pseudo</button>
                </div>
            {% endif %}
            <div id="roundContainer" class="row" style="display: none">
                <label class="form-label" for="sliderRound">Number of round: <span id="nbRound">3</span></label>
                <div class="range">
                    <input type="range" min="3" max="3" step="2" value="3" class="form-range" id="sliderRound" />
                </div>
                <div>
                    <label for="roundLength" class="form-label">Length: </label>
                    <select name="roundLength" id="roundLength" class="form-select">
                        <option value="10">Very short (10s)</option>
                        <option value="60">Short (1 minute)</option>
                        <option value="150" selected>Normal (2 minutes 30)</option>
                        <option value="300">Long (5 minutes)</option>
                        <option value="600">Pro (10 minutes)</option>
                      </select>
                </div>
            </div>
        </div>
        <table class="table mt-2 table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>Connected</th>
            </tr>
            </thead>
            <tbody class="text-danger" id="players">

            </tbody>
        </table>



        <p class="text-primary text-center"><span id="numberOfPlayers">1</span> players ready ! (3 players minimum)</p>

        <button type="button" class="btn btn-primary btn-lg w-100" id="btnStartGame" disabled>Start !</button>
    </div>


    {% include 'ETMApp/game/choose.html' %}

    {% include 'ETMApp/game/draw.html' %}

    {% include 'ETMApp/game/find.html' %}

    {% include 'ETMApp/game/watch.html' %}

    <div id="timer" class="progress mt-2" style="position:relative;display:none;">
        <b><span id="timeBarText" class="text-center w-100" style="position:absolute;"></span></b>
        <div id="timeLeftBar" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div id="waitingAlert" class="alert alert-warning mt-3" role="alert" hidden>
        Waiting for the players to finish.
    </div>

    {{ game_url|json_script:"game_url" }}


    <script type="application/javascript" src="{% static 'ETMApp/js/drawer.js' %}"></script>
    <script type="application/javascript" src="{% static 'ETMApp/js/game.js' %}"></script>
    <script type="application/javascript" src="{% static 'ETMApp/js/lobby.js' %}"></script>
    <script type="application/javascript" src="{% static 'ETMApp/js/watch.js' %}"></script>

{% endblock %}

{% block title %}
    Create game
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'ETMApp/css/game.css' %}">
{% endblock %}

