{% extends "ETMApp/base.html" %}
{% block content %}
{% load static %}
    <p>Lobby</p>
    <p>Au boulot marty</p>

    <button onclick="sendMessage()">sendMessage</button>

    {% if not user.is_authenticated %}
    <div>
        <input type="text">
        <button>Changer de pseudo</button>
    </div>
    {% endif %}

    <h2>Listes des participants</h2>
    <div id="users"></div>

    {{ game_url|json_script:"game_url" }}
    <script type="application/javascript" src="{% static 'ETMApp/js/lobby.js' %}"></script>
{% endblock %}