{% extends "ETMApp/base.html" %}
{% block content %}
<form  action="tryLogin" method="post">
    <div class="form-group">
        <label for="username" class="col-form-label-lg">Enter your pseudo</label>
        <input type="text" name="username" class="form-control form-control-lg" placeholder="Enter pseudo">
    </div>
    <div class="form-group">
        <label for="password" class="col-form-label-lg">And your password</label>
        <input type="password"  name="password" class="form-control form-control-lg" placeholder="Password">
    </div>
    <div class="text-center w-100">
        <p class="text-muted font-weight-bold">Not registered yet?
            <a href="/signup" class="text-primary ml-2">Sign up</a>
        </p>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg w-100 mt-5">Submit</button>
</form>
{% endblock %}

{% block title %}
Login
{% endblock %}