{% extends "ETMApp/base.html" %}
{% block content %}
    {% load static %}

    <div class="container">
        <div class="row mt-3">
            <div class="btn-group btn-group-sm col-sm" role="group" aria-label="Basics">
                <button id="penButton" type="button" class="btn btn-success"><span class="material-icons md-36">border_color</span>
                </button>
                <button id="eraserButton" type="button" class="btn btn-primary"><span class="material-icons md-36">rice_bowl</span>
                </button>
                <button id="bucketButton" type="button" class="btn btn-danger"><span class="material-icons md-36">format_color_fill</span>
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="btn-group btn-group-sm col-sm" role="group" aria-label="Basics">
                <button id="penLine" type="button" class="btn btn-success"><span class="material-icons md-36">horizontal_rule</span>
                </button>
                <button id="penRect" type="button" class="btn btn-primary"><span
                        class="material-icons md-36">crop_5_4</span></button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="btn-group btn-group-sm col-sm" role="group" aria-label="Basics">
                <button id="undoButton" type="button" class="btn btn-success"><span class="material-icons md-36">chevron_left</span>
                </button>
                <button id="redoButton" type="button" class="btn btn-primary"><span class="material-icons md-36">chevron_right</span>
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <label for="imageUpload"><span class="material-icons md-36">insert_photo</span></label>
            <input type="file" class="form-control-file" id="imageUpload" value="upload">
        </div>
        <div class="text-center">
            <div id="canvasContainer">
                <canvas width="1000" height="1000" id="cnvb"></canvas>
                <canvas width="1000" height="1000" id="cnv"></canvas>
                <canvas width="1000" height="1000" id="cnvf"></canvas>
            </div>
        </div>

    </div>


    <!--
    <div id="plsTurnUrPhone">
      <span class="material-icons md-48">wheelchair_pickup</span>
      <p>Please turn ur phone</p>
    </div>
    -->
    <script type="application/javascript" src="{% static 'ETMApp/js/drawer.js' %}"></script>
    <script type="application/javascript" src="{% static 'ETMApp/js/tmp.js' %}"></script>
{% endblock %}

{% block title %}
    Draw !
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'ETMApp/css/game.css' %}">
{% endblock %}
