body, html{
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

body{
    padding-bottom: 10px;
}

.phone, .moon {
    width: 100%;
    height: 100%;
}

#logo{
    height: 50px;
    width: 50px;
    position:relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.logo-large {
    height: 100%;
    width: 80%;
    max-width: 500px;
    position:relative;
    display: inline-block;
    overflow: hidden;
}

.phone{
    width: 70%;
    height: 70%;
    position: absolute;
    left: 0%;
    top: 19%;
    animation-name: phone-wave;
    animation: phone-wave 1.5s alternate infinite ease-in-out;
}

.ET{
    width: 30%;
    height: 30%;
    left: -50%;
    top: 30%;
    position: absolute;
    animation: et-fly 15s infinite linear 5s;
}

@keyframes phone-wave {
    to { transform: translatey(15%);}
}

@keyframes et-fly {
    0% {
        left: -10%;
        top: 50%;
    }

    5%{
        left: 100%;
        top: 35%;
    }

    100%{
        left: 100%;
        top: 35%;
    }
}


#history_table, #rounds_table{
    table-layout: fixed;
}

#history_table th:first-child{
    width: 100px;
}

td > img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    display: inline-block;
    width: 70%;
    max-width: none;
}
.card-text-container {
    text-align: left;
    margin-top: 20px;
}

.card-img {
    display: inline-block;
    width: 70%;
    max-width: none;
    text-align: left;
}
.card-img-container {
    text-align: right;
    margin-top: 20px;
}
.card-image-large {
    height: 300px;
}

/* Scroll bar */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
}


body::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #000000;
}

body::-webkit-scrollbar-track
{
    background:  #0396a6; 
}

#logo:hover {
    animation-name: spin;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    animation-delay: 2s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}