body, html{
    height: 100%;
    width: 100%;

    overflow-x: hidden;
}

#logo{
    height: 50px;
    width: 50px;
}

#history_table, #rounds_table{
    table-layout: fixed;
}

#history_table th:first-child{
    width: 100px;
}