body, html{
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
}

#logo{
    height: 50px;
    width: 50px;
}

#history_table, #rounds_table{
    table-layout: fixed;
}

#history_table th:first-child{
    width: 100px;
}

td > img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    display: inline-block;
    width: 70%;
    max-width: none;
}
.card-text-container {
    text-align: left;
    margin-top: 20px;
}

.card-img {
    display: inline-block;
    width: 70%;
    max-width: none;
    text-align: left;
}
.card-img-container {
    text-align: right;
    margin-top: 20px;
}
.card-image-large {
    height: 300px;
}